@import './variables.scss';

@import './nprogress.scss';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  font-size: 12px;
  overflow: hidden;
}
a {
  color: $link-color;
}
li {
  list-style: none;
}
hr.separator {
  border: 0;
  border-top: 1px solid lighten($border-color, 5%);
}

#app {
  width: 100%;
  height: 100%;
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-primary {
  color: $primary !important;
}
.text-faded {
  color: $faded !important;
}
.text-grey {
  color: $grey !important;
}
.text-info {
  color: $info !important;
}
.text-warning {
  color: $warning !important;
}
.text-error {
  color: $negative !important;
}
.text-negative {
  color: $negative !important;
}
.text-positive {
  color: $positive !important;
}
.text-red {
  color: $negative !important;
}
.text-green {
  color: $positive !important;
}
.text-light {
  color: $light !important;
}
.text-dark {
  color: $dark !important;
}
.text-link {
  color: $link-color !important;
  cursor: pointer;
}
.text-xsmall {
  font-size: 0.8rem !important;
}
.text-small {
  font-size: 0.9rem !important;
}
.text-large {
  font-size: 1.1rem;
}
.text-xlarge {
  font-size: 1.2rem;
}
.text-bold {
  font-weight: bold;
}
.text-strong {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  &.li-decimal {
    li {
      list-style-type: decimal;
    }
  }
}

.bg-white {
  background: white;
}
.hidden {
  display: none;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.relative {
  position: relative;
}
.inline {
  display: inline-block;
}
.no-selection {
  user-select: none;
}
.no-padding {
  padding: 0 !important;
}

.row,
.column,
.col,
.flex {
  display: flex;
  flex-wrap: wrap;
  &.inline {
    display: inline-flex;
  }
}
.column,
.col {
  flex-direction: column;
}
.flex {
  display: flex;
}
.flex-main {
  flex: 1;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix-top {
  position: fixed !important;
  top: 0;
  z-index: 10;
}
.fix-bottom {
  position: fixed !important;
  bottom: 0;
  z-index: 10;
}
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.full-width,
.fw {
  width: 100%;
}
.full-height,
.fh {
  height: 100%;
}
.full-size,
.fs {
  width: 100%;
  height: 100%;
}

.panel-shadow {
  box-shadow: 0 0 3px $border-color;
}

.chip {
  font-size: 0.8rem;
  background: #eee;
  padding: 3px 6px;
  border-radius: 5px;
}

.no-data,
.loading-data {
  box-sizing: border-box;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  & > .notice,.tip {
    opacity: 0.8;
    padding-bottom: 1rem;
  }
}
