// 参考quasar
@import './variables.scss';

// 构建space
@for $index from 1 through length($sizes) {
  $size: nth($sizes, $index); // 获取数组中第i项的值
  $space: nth($spaces, $index); // 获取数组中第i项的值

  .q-pa-#{$size} {
    padding: $space;
  }
  .q-pl-#{$size} {
    padding-left: $space;
  }
  .q-pr-#{$size} {
    padding-right: $space;
  }
  .q-pt-#{$size} {
    padding-top: $space;
  }
  .q-pb-#{$size} {
    padding-bottom: $space;
  }
  .q-px-#{$size} {
    padding-left: $space;
    padding-right: $space;
  }
  .q-py-#{$size} {
    padding-top: $space;
    padding-bottom: $space;
  }

  .q-ma-#{$size} {
    margin: $space;
  }
  .q-ml-#{$size} {
    margin-left: $space;
  }
  .q-mr-#{$size} {
    margin-right: $space;
  }
  .q-mt-#{$size} {
    margin-top: $space;
  }
  .q-mb-#{$size} {
    margin-bottom: $space;
  }
  .q-mx-#{$size} {
    margin-left: $space;
    margin-right: $space;
  }
  .q-my-#{$size} {
    margin-top: $space;
    margin-bottom: $space;
  }
}

.q-ml-auto {
  margin-left: auto;
}
.q-mr-auto {
  margin-right: auto;
}
.q-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.q-ripple {
  &-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: inherit;
    border-radius: inherit;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
  }

  &-animation {
    top: 0;
    left: 0; /* rtl:ignore */
    opacity: 0;
    color: inherit;
    position: absolute;
    border-radius: 50%;
    background: currentColor;
    transition: 0.3s transform cubic-bezier(0.2, 0.4, 0.4, 0.9), 0.3s opacity cubic-bezier(0.2, 0.4, 0.4, 0.1);
    pointer-events: none;
    overflow: hidden;
    will-change: transform, opacity;

    &-enter {
      transition: none;
    }

    &-visible {
      opacity: 0.15;
    }
  }
}

.q-radial-ripple {
  overflow: hidden;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle, currentColor 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
  }

  &.active:after {
    transform: scale(0, 0);
    opacity: 0.4;
    transition: 0s;
  }
}
